body{
    font-family: 'Times New Roman', Times, serif;
    background: white;
    font-size: 1rem;
    line-height: 1.4em;
    color: #222;
    margin: 0;
}
h1{
    font-size: 1.8em;
    line-height: 1.8em;
}
p{
    margin-bottom: 2rem;
}
.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}


.header{
    background: #222;
    padding: 0.5rem;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
main{
    padding: 5rem;
}
.header a{
    text-decoration: none;
    color: white;
}
.navegation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    letter-spacing: 1rem;
    font-size: 2.8rem;
}
.navegation ul li{
    display: inline-block;
}
.navegation ul li a{
    display: block;
    margin: 0;
    padding: 1rem 0.5rem;
    transition: all 0.5s linear;
    border-radius: 1rem;
}
.navegation ul li a:hover{
    background: white;
    color: #222;
}
.footer{
    text-align: center;
    background: white;
    color: #222;
    padding: 0.5rem 0;
    font-size: 18px;
}
.imagen1{
    display: flex;
    justify-content: center;
}
img{
    width: auto;
    height: 200px;
    object-fit: contain;
}
.google{
    padding-right: 30px;
}
.certification{
    padding-left: 30px;
}
.imagen2{
    display: flex;
    margin-top: 4rem;
    align-items: center;
}
.imagen2 p{
    text-align: center;
}
.imagen2 img{
    height: 250px;
    width: auto;
    margin-left: 3rem;
}
.container-textimg{
    display: flex;
    gap: 2rem;
    /* flex-direction: column; */
}
.hijo1, .hijo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* gap: 7.8rem; */
}
.hijo1 img, .hijo2 img{
    width: 250px;
    height: 200px;
}


/*
@media only screen and (max-width: 767px){
    .navegation{
        width: 100%;
        margin-top: 0.8rem;
    }
    .navegation ul li{
        display: block;
    }
    .navegation ul li a{
        display: block;
        margin: 0;
        padding: 1rem 0.5rem;
        transition: all 0.5s linear;
        border-radius: 1rem;
    }
    .navegation ul li a:hover{
        background: black;
        color: white;
    }
}